
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


body, button, input, optgroup, select, textarea {
  // font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-family: 'Quicksand', sans-serif;
}
html {
  background-color: $whitesmoke;
  font-size: 12px;
}


a {
  color: $info;
}

.title {
  font-weight: $weight-normal;
}

.section {
  background-color: transparent;
}

.box {
  border-radius: 2px;
}

.select::after {
  border-color: $dark-grey;
}

.field.has-help {
  height: 67px;
}

.card-footer-item {
  cursor: pointer;
  &:hover {
    background-color: $lightest-grey;
  }
}

//* To hide things when needed
.is-hidden { display: none; }

// Bug in production
.select select {
  padding-right: 2.5em;
}
